<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Dodaj nowy czołg</h1>
<form action="/tanks/create" method="POST">
    <p>
        <label>Nazwa:</label><br>
        <input type="text" name="name" required />
    </p>
    <p>
        <label>Typ:</label><br>
        <input type="text" name="type" required />
    </p>
    <p>
        <label>Kaliber:</label><br>
        <input type="text" name="caliber" required />
    </p>
    <p>
        <label>Frakcja:</label><br>
        <input type="text" name="faction" required />
    </p>
    <button type="submit">Dodaj</button>
</form>
<br>
<a href="/tanks">Powrót do listy</a>
</body>
</html>
