<%- include('./partials/header.ejs', { bodyClass: 'edit' }) %>

<h1>Dodaj nowy czołg</h1>

<form action="/tanks/create" method="POST" class="edit-form">
    <div class="form-group">
        <label>Nazwa:</label>
        <input type="text" name="name" required />
    </div>
    <div class="form-group">
        <label>Typ:</label>
        <input type="text" name="type" required />
    </div>
    <div class="form-group">
        <label>Kaliber:</label>
        <input type="text" name="caliber" required />
    </div>
    <div class="form-group">
        <label>Frakcja:</label>
        <input type="text" name="faction" required />
    </div>
    <div class="form-group">
        <label></label>
        <input type="submit" value="Dodaj">
    </div>
</form>

<a href="/tanks">Powrót do listy</a>

<%- include('./partials/footer.ejs') %>
