{% extends 'layout.html' %}
{% block body_class %}edit{% endblock %}

{% block content %}
<h1>Dodaj nowy pojazd</h1>
<form method="POST" class="edit-form">
    <div class="form-group"><label>Nazwa:</label><input type="text" name="name" required></div>
    <div class="form-group"><label>Typ:</label><input type="text" name="type" required></div>
    <div class="form-group"><label>Nacja:</label><input type="text" name="nation" required></div>
    <div class="form-group"><label>Kaliber:</label><input type="text" name="caliber" required></div>
    <div class="form-group"><button type="submit">Dodaj do rejestru</button></div>
</form>
{% endblock %}
